<!DOCTYPE html>
<html>
    head
      meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Password reset error
    link(rel="stylesheet", href="/static/index.css")
    body
    div
    div.card
        img(src="/static/icons/error.icon.svg" alt="success-icon" style={height: '65px', width: '65px'})
        h1(style={color: "#2b2e45"}) Something went wrong!
        p.errorMessage #{errorMsg}

</html>