<!DOCTYPE html>
<html>
    head
      meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Password reset success
    link(rel="stylesheet", href="/static/index.css")
    body
    div
    div.card
        img(src="/static/icons/success-icon.svg" alt="success-icon" style={height: '45px', width: '45px'})
        h1(style={color: "#2b2e45"}) Password reset is successful

</html>